<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/vue2.js"></script>
    <script type="text/javascript" src="element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <!--<input type="text" v-model="username" >-->
    <!--{{username}}-->
    <table>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>专业</th>
            <th>年龄</th>
        </tr>
        <tr v-for="student in students">
            <td>{{student.sid}}</td>
            <td>{{student.sname}}</td>
            <td>{{student.major}}</td>
            <td>{{student.age}}</td>
        </tr>
    </table>
</div>
</body>
<script type="text/javascript">
   var students=[{sid:1,sname:"张三",major:"人工智能",age:20},
        {sid:2,sname:"李四",major:"人工智能",age:21},
        {sid:3,sname:"王五",major:"软件工程",age:20}]
   new Vue({
        el: '#app',
       //  // username: "",
       // students:students
       data: {
           students: students
       },
    });
</script>
</html>